[Desktop Entry]
Terminal=false
Categories=AudioVideo;
Keywords=church;projection;media;multimedia;video;song;hymn;lyrics
Type=Application
Name=FLC Bible Show
Icon=org.quelea.Quelea
Comment=Bible presentation software for churches
Exec=quelea
