[Desktop Entry]
Version=2019.0
Terminal=false
Categories=AudioVideo;
Keywords=church;projection;media;multimedia;video;song;hymn;lyrics
Type=Application
Name=FLC Bible Show
Icon=${SNAP}/jar/icons/logo64.png
Comment=Bible presentation software for churches
Exec=quelea